body{
	padding: 5px;
	margin: 5px;
	overflow: hidden;
}

input{
	width: 275px;
}

select{
	width: 279px;
}

#responseLabel{
	width: 400px;
	height: 200px;
}
.title{
	font-family: Courier New, Courier, monospace;
	width:240px; 
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}

/* main styles */
* {
    font-family: 'Segoe UI';
}

h1 {
    font-weight: 400;
    font-size: 20px;
}

p {
    font-weight: 500;
    font-size: .8em;
    margin-bottom: 10px;  
}

#bodyDiv{
	overflow: auto;
	padding-bottom: 10pt;
}

#goButton {
	  border:1pt solid #656565; 
	  border-radius: 5pt;
	  background-color: #1976d2; 
      color: whitesmoke;
      font-weight: bold;
      padding:10pt;
}
.error {
	color: red;
}

.success {
	color: green;
}