body{
	padding: 5px;
	margin: 5px;
	/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
	/* overflow: auto; */
}

input{
	width: 275px;
}

select{
	width: 279px;
}

#responseLabel{
	width: auto;
	height: auto;
}

#responseCode{
	font-size: 26pt;
	font-weight: bold;
}

.title{
	/* font-family: Courier New, Courier, monospace;
	width:240px; 
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis; */
}

/* main styles */
* {
	font-family: 'Segoe UI';
}

h1 {
    font-weight: 400;
    font-size: 21px;
}
h2 {
	font-weight: 600;
	font-size: 16px;
}
p {
    font-weight: 500;
    font-size: .8em;
    margin-bottom: 10px;  
}

#bodyDiv{
	overflow: auto;
	padding-bottom: 20pt;
}

#goButton {
	  border:1pt solid #656565; 
	  border-radius: 5pt;
	  background-color: #1976d2; 
      color: whitesmoke;
      font-weight: bold;
      padding:10pt;
}
.error {
	color: red;
}

.success {
	color: green;
}